$modal-content-width: 769px;
@import '~bulma';

html {
  background-color: #eee;
}

.panel-block {
  background-color: $white;
}

.info {
  height: 570px;
  pointer-events: all;
}

.info .modal-card-body {
  padding-bottom: 48px;
}

#i {
  pointer-events: all;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  color: #fff;
  background-color: #363636;
  text-align: center;
  font-weight: 700;
  line-height: 25px;
}

.info label {
  margin-top: 30px;;
}

.img {
  display: flex;
  justify-content: center;
  margin: 24px 0 38px 0;
}

#coords {
  position: fixed;
  right: 65px;
  top: 21px;
  font-size: 13px;
  background-color: white;
  box-shadow: rgba(85, 85, 85, 0.189) 1px 1px 7px;
  border-radius: 5px;
  padding: 4px 8px;
}

$tabs-toggle-link-active-background-color: rgb(173, 173, 173);

.info ol {
  list-style-position: inside;
}

.info li::marker {
  font-weight: 700;
}

.disclaimer {
  font-weight: 700;
  margin: 30px;
  color: rgb(247, 99, 82);
}